/* header page 1 */

#header {
    background-image: url(/img/header1.png);
    background-color: #ccc;
    padding: 90px 0px 90px 0px;
    border: #fff solid 5px;
}

/* header page 2 */

#header2 {
    background-image: url(/img/header2.gif);
    background-color: #ccc;
    padding: 90px 0px 90px 0px;
    border: #fff solid 5px;
}

/* white box containing names for legibility */

.whiteheader {
    height: 120px;
    background-color: #fff;
    text-align: center;
    padding: 20px 0 0 0;
    border: #fff solid 1px;
}

.headertext1 {
    font: 44px/150% skranji;
    letter-spacing: 3px;
}

.headertext2 {
    font: 25px/10% megrim;
    letter-spacing: 8px;
}

/* Button designs */

.button2 {
    background-color: #ffd98d;
    transition-duration: 0.4s;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: rgb(0, 0, 0) solid 1px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.button3 {
    background-color: #ffd98d;
    transition-duration: 0.4s;
    width: 150px;
    height: 60px;
    border-radius: 5px;
    border: rgb(0, 0, 0) solid 1px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.button2:hover {
    background-color: #ffffd2;
    color: black;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

/* Misc CSS editions to text, tables and etc. */

.center {
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid black;
}

th {
    padding: 0px;
    height: 30px;
    text-align: center;
    background-color: rgba(85, 170, 169, 0.486);
}

td {
    padding: 0px;
    height: 30px;
    text-align: left;
}

table {
    width: 97%;
}

.postit {
    background-image: url(http://st2.depositphotos.com/4196725/6839/i/450/depositphotos_68398807-white-wrinkled-paper-texture.jpg);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.table2 {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.price {
    text-align: center;
}

.cell {
    text-align: center;
}

.pad {
    padding-left: 10px;
}

ul {
    text-align: center;
    padding: 0px 0px 0px 0px;
}

#output {
    height: 100%;
    margin: 0em;
    overflow-y: auto;
}

.col-4 {
    background-color: white;
}

.col {
    padding-top: 0px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    word-spacing: 5px;
}

body {
    margin: 0;
    padding: 0;
    background: #ffffff;
}

.whitebackground {
    background-color: #fff;
    border: #fff solid 5px;
}

.nav {
    background-color: white;
}

.col-6 {
    text-align: center;
}

.justify {
    text-align: justify;
}

/* pixel art */

#drawing-board {
    width: 980px;
    margin: 25px auto;
    border: 1px solid #ddd;
    background: #fff;
    padding: 10px;
    overflow: auto;
}

#draw-bg {
    width: 320px;
    height: 320px;
    float: left;
}

#draw {
    display: block;
    width: 320px;
    height: 320px;
}

#drawing {
    background: #fff;
    width: 308px;
    height: 318px;
    border: 1px solid #ddd;
    margin: 0 10px;
    padding: 0;
    float: left;
    resize: none;
    font: normal 1em/1 monospace;
}

#output {
    background: #fff;
    width: 308px;
    height: 318px;
    border: 1px solid #ddd;
    margin: 0;
    padding: 0;
    float: left;
    resize: none;
    font: normal 1em/1 monospace;
}

#clear-all {
    margin: 10px 0 0 0;
    float: left;
}

#generate-code {
    margin: 10px 0 0 0;
    float: right;
}

/* flag */

.flag {
    box-shadow: 45px 25px 0 0 rgba(0, 0, 0, 1), 50px 25px 0 0 rgba(0, 0, 0, 1), 55px 25px 0 0 rgba(0, 0, 0, 1), 60px 25px 0 0 rgba(0, 0, 0, 1), 65px 25px 0 0 rgba(0, 0, 0, 1), 70px 25px 0 0 rgba(0, 0, 0, 1), 75px 25px 0 0 rgba(0, 0, 0, 1), 80px 25px 0 0 rgba(0, 0, 0, 1), 85px 25px 0 0 rgba(0, 0, 0, 1), 90px 25px 0 0 rgba(0, 0, 0, 1), 45px 30px 0 0 rgba(0, 0, 0, 1), 50px 30px 0 0 rgba(255, 255, 255, 1), 55px 30px 0 0 rgba(255, 255, 255, 1), 60px 30px 0 0 rgba(255, 255, 255, 1), 65px 30px 0 0 rgba(255, 255, 255, 1), 70px 30px 0 0 rgba(255, 255, 255, 1), 75px 30px 0 0 rgba(255, 255, 255, 1), 80px 30px 0 0 rgba(255, 255, 255, 1), 85px 30px 0 0 rgba(255, 255, 255, 1), 90px 30px 0 0 rgba(0, 0, 0, 1), 45px 35px 0 0 rgba(0, 0, 0, 1), 50px 35px 0 0 rgba(255, 255, 255, 1), 55px 35px 0 0 rgba(255, 255, 255, 1), 60px 35px 0 0 rgba(255, 255, 255, 1), 65px 35px 0 0 rgba(255, 0, 0, 1), 70px 35px 0 0 rgba(255, 0, 0, 1), 75px 35px 0 0 rgba(255, 255, 255, 1), 80px 35px 0 0 rgba(255, 255, 255, 1), 85px 35px 0 0 rgba(255, 255, 255, 1), 90px 35px 0 0 rgba(0, 0, 0, 1), 45px 40px 0 0 rgba(0, 0, 0, 1), 50px 40px 0 0 rgba(255, 255, 255, 1), 55px 40px 0 0 rgba(255, 255, 255, 1), 60px 40px 0 0 rgba(255, 255, 255, 1), 65px 40px 0 0 rgba(255, 0, 0, 1), 70px 40px 0 0 rgba(255, 0, 0, 1), 75px 40px 0 0 rgba(255, 255, 255, 1), 80px 40px 0 0 rgba(255, 255, 255, 1), 85px 40px 0 0 rgba(255, 255, 255, 1), 90px 40px 0 0 rgba(0, 0, 0, 1), 45px 45px 0 0 rgba(0, 0, 0, 1), 50px 45px 0 0 rgba(255, 255, 255, 1), 55px 45px 0 0 rgba(255, 255, 255, 1), 60px 45px 0 0 rgba(255, 255, 255, 1), 65px 45px 0 0 rgba(255, 255, 255, 1), 70px 45px 0 0 rgba(255, 255, 255, 1), 75px 45px 0 0 rgba(255, 255, 255, 1), 80px 45px 0 0 rgba(255, 255, 255, 1), 85px 45px 0 0 rgba(255, 255, 255, 1), 90px 45px 0 0 rgba(0, 0, 0, 1), 45px 50px 0 0 rgba(0, 0, 0, 1), 50px 50px 0 0 rgba(0, 0, 0, 1), 55px 50px 0 0 rgba(0, 0, 0, 1), 60px 50px 0 0 rgba(0, 0, 0, 1), 65px 50px 0 0 rgba(0, 0, 0, 1), 70px 50px 0 0 rgba(0, 0, 0, 1), 75px 50px 0 0 rgba(0, 0, 0, 1), 80px 50px 0 0 rgba(0, 0, 0, 1), 85px 50px 0 0 rgba(0, 0, 0, 1), 90px 50px 0 0 rgba(0, 0, 0, 1), 45px 55px 0 0 rgba(0, 0, 0, 1), 45px 60px 0 0 rgba(0, 0, 0, 1), 45px 65px 0 0 rgba(0, 0, 0, 1), 45px 70px 0 0 rgba(0, 0, 0, 1), 45px 75px 0 0 rgba(0, 0, 0, 1), 45px 80px 0 0 rgba(0, 0, 0, 1);
    height: 5px;
    width: 5px;
}

/* tip calculator */

#container {
    height: 520px;
    width: 350px;
    margin: 100px auto;
    background: #acd6d5;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

form input[type="text"] {
    width: 90px;
}

input {
    padding-left: 20px;
}

#billamt {
    font-size: 15px;
    /*color: #2980b9;*/
    color: black;
    background-color: #f7f7f7;
    width: 30%;
    padding: 5px 5px 8px 8px;
}

#billamt:focus {
    background: #fff;
    border: 3px solid #2980b9;
    outline: none;
}

#peopleamt {
    width: 15%;
    padding: 5px 5px 8px 8px;
    margin-left: 20px;
    color: black;
    background-color: #f7f7f7;
    font-size: 14px;
}

.euroSign {
    display: inline;
}

#serviceQual {
    padding: 10px 10px 10px 10px;
    margin-left: 20px;
    font-size: 15px;
}

#totalTip {
    font-size: 30px;
    margin-top: 5px;
    text-align: center;
}

#totalTip:before {
    content: "Tip amount";
    font-size: 15px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
}

#totalTip sup {
    font-size: 20px;
    top: -18px;
}

#totalTip small {
    font-size: 15px;
    font-weight: bold;
    display: block;
}

.font{
    font: 18px/100% georgia;
    letter-spacing: 0px;    
}

.footer1{
    background-color: #acd6d5;
    padding: 80px 0px 40px 0px;
    border: #fff solid 5px;
    text-align: right;
}

.footer2{
    background-color: #df8ecb65;
    padding: 80px 0px 40px 0px;
    border: #fff solid 5px;
    text-align: right;
    
}