/* header page 1 */
#header {
    background-image: url(/img/header1.png);
    background-color: #ccc;
    padding: 90px 0px 90px 0px;
    border: #fff solid 5px;
}

/* header page 2 */
#header2 {
    background-image: url(/img/header2.gif);
    background-color: #ccc;
    padding: 90px 0px 90px 0;
    border: #fff solid 5px;
}

/* white box containing names for legibility */
.whiteheader {
    height: 120px;
    background-color: #fff;
    text-align: center;
    padding: 20px 0 0 0;
    border: #fff solid 1px;
}

.headertext1 {
    font: 44px/150% skranji;
    letter-spacing: 3px;
}

.headertext2 {
    font: 25px/10% megrim;
    letter-spacing: 8px;
}

.button2 {
    background-color: #ffd98d;
    transition-duration: 0.4s;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: rgb(0, 0, 0) solid 1px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.button2:hover {
    background-color: #ffffd2;
    color: black;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid black;
}

th {
    padding: 0px;
    height: 30px;
    text-align: center;
    background-color: rgba(85, 170, 169, 0.486);
}

td {
    padding: 0px;
    height: 30px;
    text-align: left;
}

table {
    width: 90%;
}

.postit {
    background-image: url(http://st2.depositphotos.com/4196725/6839/i/450/depositphotos_68398807-white-wrinkled-paper-texture.jpg);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.table2 {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.price {
    text-align: center;
}

.cell {
    text-align: center;
}

.pad {
    padding-left: 10px;
}

ul {
    text-align: center;
    padding: 0px 0px 0px 0px;
}

#output {
    height: 100%;
    margin: 0em;
    overflow-y: auto;
}

.col-sm-3 {
    background-color: white;
}

.col {
    padding-top: px;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    word-spacing: 5px;    
}

body {
    margin: 0;
    padding: 0;
    background: #ffffff;
}

#button3 {
    background-color: #ffd98d;
    transition-duration: 0.4s;
    width: 150px;
    height: 60px;
    border-radius: 5px;
    border: rgb(0, 0, 0) solid 1px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.whitebackground{
    background-color: #fff;
    border: #fff solid 5px;
}

.nav {
    background-color: white;
    }