#header {
    background-image: url(/img/header1.png);
    background-color: #ccc;
    padding: 90px 0px 50px 0px;
    border: #fff solid 1px;
}

#header2 {
    background-image: url(/img/gifheader.gif);
    background-color: #ccc;
    padding: 90px 0px 90px 0;
    border: #fff solid 1px;
}

.whiteheader {
    height: 120px;
    background-color: #fff;
    text-align: center;
    padding: 20px 0 0 0;
    border: #fff solid 1px;
}

.headertext1 {
    font: 44px/150% skranji;
    letter-spacing: 3px;
}

.headertext2 {
    font: 25px/10% megrim;
    letter-spacing: 8px;
}

.button {
    background-color: #ffd98d;
    transition-duration: 0.4s;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: rgb(0, 0, 0) solid 1px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.button2 {
    background-color: #ffd98d;
    transition-duration: 0.4s;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: rgb(0, 0, 0) solid 1px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #ffffd2;
    color: black;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid rgb(51, 161, 189);
}

th {
    padding: 0px;
    height: 30px;
    text-align: center;
}

td {
    padding: 0px;
    height: 30px;
    text-align: left;
}

table {
    width: 400px;
}

ul {
    text-align: center;
    padding: 0px 0px 0px 0px;
}

#output {
    height: 100%;
    margin: 0em;
    overflow-y: auto;
}

.col-sm-4 {
    background-color: rgba(72, 173, 171, 0.082);
}

.col {
    padding-top: 0px;
}