#header {
    background-image: url(/img/header1.png);
    background-color: #ccc;
    padding: 80px 0px 80px 0;
    border: #fff solid 1px;
}

.whiteheader {
    height: 120px;
    background-color: #fff;
    text-align: center;
    padding: 20px 0 0 0;
    border: #fff solid 1px;
}

.headertext1 {
    font: 40px/150% skranji;
    letter-spacing: 3px;
}

.headertext2 {
    font: 25px/10% megrim;
    letter-spacing: 8px;
}

.button {
    background-color: #ffffff;
    transition-duration: 0.4s;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: rgb(0, 0, 0) solid 1px;
    text-align: center;
    font-size: 16px;    
}

.button:hover {
    background-color: #ffffd2;
    color: black;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }